*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ccc ;
    background-size: 400%;
}

.card-body{
    position: relative;
    background-color: white;
    width: 360px;
    padding: 0.19rem;
    border-radius: 1rem;
    box-shadow: 1px 15px 25px -10px rgba(255, 255, 255, .25);
} 

.top-card{
    background-image: radial-gradient( #f9f52c, #ff961d);  
    width: 100%;
    height: 40%;
    padding: 20px 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem ;
    box-shadow: 1px 15px 25px -10px rgba(255, 255, 255, .25);
}

.bottom-card{
    width: 100%;
    height: 60%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
    border-radius: 50%;
}

 h1 {
    font-size: 2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 25px;
  }

  .contact-info-span{
    font-size: 0.8rem;
    color: black;
  }

  #call-button{
    float: left;
    width: 50%;
    overflow: hidden;
  }

  #email-button{
    overflow: hidden;
   
  }

  .details {
    margin-bottom: 20px;
  }
  
  .details div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .details label {
    font-weight: bold;
    font-size: 0.8em;
    margin-right: auto;
  }

  .symbol{
    float: left;
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .symbol-details{
    overflow: hidden;
  }

  .symbol-details a{
    font-size: 1.1rem;
    color: #000000;
  }

  span{
    font-size: 0.8rem;
    color: #b1afaf;
  }